/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */
app-root {
  position: absolute;
  top: 30%;
  background-color: rgb(193, 193, 193);
  width: 100%;

  display: block;
}
