.simplebar {
  width: 100%;
  height: 3em;
  display: block;
  .gray1 {
    background: rgb(53, 53, 53);
    height: 1em;
  }
  .gray2 {
    background: rgb(106, 106, 106);
    height: 1em;
  }
  .gray3 {
    background: rgb(159, 159, 159);
    height: 1em;
  }
}
