<div class="presentation">
  <p>
    Infographiste au commencement je suis devenu développeur paradoption et ce,
    très rapidement lors de mon premier emploi, dans lequel j’aicommencé à
    parler aux machines.
  </p>
  <p>
    J’ai appris les bases de la programmation orientée Object,la mise en place
    de serveurs, les test unitaires... et tout cela de façonautodidacte en même
    temps que je travaillais sur Flash.
  </p>
  <p>
    Par la suite, travailler aux côtés de vrais passionnés dumétier, comme des
    développeurs java, C#, javascript, PHP ; m’a guidé etpermis d’acquérir une
    solide expérience dans le développement des applications. Et cela continu,
    car je pense que nous apprenons auprès dechacun des collaborateurs que nous
    rencontrons.
  </p>
  <p>
    Grâce à tout cela, le développement en général, est unmétier que j’aime,
    dans lequel je suis impliqué et qui me permets de construireet d’inventer
    sans cesse. Bien entendu, prendre du temps pour ma vie privée estaussi
    essentiel.
  </p>
  <p>
    Passionné de sport, je suis un fonceur qui n’a pas peur deschallenges et
    d’essayer de nouvelles choses. Je suis à l’écoute, ouvert, respectueux des
    avis des autreset apprécie le travail en équipe. Ma devise :
  </p>
  <h3>On peut faire bien, ou on peut faire mieux</h3>
  <p>email: diegopatino@doprr.com</p>
  <p>telepone : 0661994629</p>
</div>
<div class="curriculum"></div>
