<div class="bottomContent">
    <div class="animatedButton">
        <a aria-label="doprr on twitter" target="_blank" rel="noopener" href="https://twitter.com/doprr" title="Twitter">
            <app-animated-button logoValue="T"> </app-animated-button>
        </a>
    </div>
    <div class="animatedButton">
        <a href="https://wa.me/33661994629" title="Whatapps" aria-label="doprr in watapps" target="_blank" rel="noopener">
            <app-animated-button logoValue="W"> </app-animated-button>
        </a>
    </div>
    <div class="animatedButton">
        <a href="mailto:diegopatino@doprr.com" title="Mail" aria-label="doprr by mail" target="_blank" rel="noopener">
            <app-animated-button logoValue="%"> </app-animated-button>
        </a>
    </div>
    <div class="animatedButton">
        <a aria-label="doprr on facebook" target="_blank" rel="noopener" href="https://www.facebook.com/doprr" title="Facebook">
            <app-animated-button logoValue="F"> </app-animated-button>
        </a>
    </div>
    <div class="animatedButton">
        <a aria-label="doprr on linkedin" target="_blank" rel="noopener" href=" https://www.linkedin.com/in/diego-orlando-patino-ramos-b5ab683/" title="linkedin">
            <app-animated-button logoValue="L"> </app-animated-button>
        </a>
    </div>
    <div class="animatedButton">
        <a href="https://www.pexels.com">
            <img src="https://images.pexels.com/lib/api/pexels.png" style="height: 2em;" />
        </a>
    </div>

</div>