.bottomContent {
    display: block;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border-radius: 10px 10px 0px 0px;
}

.openBottomPanel {
    display: block;
    position: absolute;
    text-align: center;
    height: 20px;
    width: 70px;
    top: -20px;
    left: calc(50% - 30px);
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
}

.openBottomPanel p {
    position: absolute;
    top: -16px;
    text-align: center;
    pointer-events: none;
    width: 100%;
}

.animatedButton {
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
}