/* app css stylesheet */
html, body {
    margin: 0;
    overflow: hidden;
    height:100%;
}

body {
   /* background-image: url('css/bkg1.jpg');*/
    background-clip: border-box;
    background-color: white;
    background-size: contain;
    background-repeat: round;

}



#dynamicBackground {
    position: fixed;
    z-index: -1;
    top: 0px;
}

.moveFloor {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.moveFloor div {
    display: block;
    width: 1px;

    overflow: hidden;

    background-color: rgba(0,139,139,0.3);
    position: absolute;
    bottom: 0;
}

#logger {
    position: absolute;

    color: #fff;
    background-color: black;
    top: 0px;
    bottom: 40px;
    right: 0;
    width: 150px;
}

.doprrNom {
    color: #337ab7;
    font-size: 600%;

}
#visageInfos{

    top: 10px;
    right: 20px;
    height: 150px;
    ;

}


.noselect {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
    outline: 0;
    cursor: default;

}

.clor1 {
    background-color: #1c94c4;
    color: white;

}
.clor2 {
    background-color: #8a4182;
    color: white;

}
.clor3 {
    background-color: #2b542c;
    color: white;
    height: 500px;
}
.clor4 {
    background-color:  #66CC44;
    color: white;
    height: 500px;
}
.clor5 {
    background-color: darkred;
    color: white;
    height: 500px;
}
.clor6{
    background-color: darkgoldenrod;
    color: white;
    height: 500px;
}

#doprrView {

    background-color: rgba(255, 255, 255, 0.57);


    border-radius: 6px;
    border-color: white;
    border-style: solid;
    border-width: 1px;

}
#debugDisplay{
    
    height: 200px;
    width: 100%;
    position: absolute;
    display: block;
    background-image: url("./css/debug/debug_screen-size.jpg");
    background-size: initial;
    bottom: 0px;
}
