/* app css stylesheet */
html, body {
    margin: 0;

    height:100%;
    background-color: #427061;
}

body {

    background-clip: border-box;

    background-size: contain;
    background-repeat: round;

}
.navbar-default .navbar-nav>li>a{
    color: #7a0c21;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #66CC44;
}
.colorRedDoprr{
    color: #7a0c21;
}




.moveFloor {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -200;
}
@media screen and (max-width: 992px) {
    .moveFloor{
        display:none;
    }
}

.moveFloor div {
    display: block;
    width: 1px;

    overflow: hidden;

    background-color: rgba(0,139,139,0.3);
    position: absolute;
    bottom: 0;
}

#logger {
    position: absolute;

    color: #fff;
    background-color: black;
    top: 0px;
    bottom: 40px;
    right: 0;
    width: 150px;
}

.doprrNom {
    color: #337ab7;
    font-size: 600%;

}
.visageInfos{
    margin: 50px;

}

#captionPerso{
    position: relative;
}
.captionPerso{
    position: relative;
}


.noselect {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
    outline: 0;
    cursor: default;

}

.clor1 {
    background-color: #1c94c4;
    color: white;

}
.clor2 {
    background-color: #8a4182;
    color: white;

}
.clor3 {
    background-color: #2b542c;
    color: white;

}
.clor4 {
    background-color:  #66CC44;
    color: white;

}
.clor5 {
    background-color: darkred;
    color: white;

}
.clor6{
    background-color: darkgoldenrod;
    color: white;

}

#debugDisplay{
    
    height: 200px;
    width: 100%;
    position: absolute;
    display: none;
    background-image: url("./css/debug/debug_screen-size.jpg");
    background-size: initial;
    bottom: 0px;
}
/*
bootstrap override
*/
.jumbotron{

    background-color: rgba(0,0,0,0.2);
}
.thumbnail {
     
    background-color: #6da9c4;
    
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    color: white;
}
.thumbnail .caption {
    padding: 9px;
    color: #fff;
}
.row {
    margin-right: 9px;
    margin-left: 9px;
}