.backgroundLayer {
    background-color: rgb(255, 255, 255);
    height: 4em;
    width: 14em;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 7em);
    /* border: antiquewhite solid 1px; */
    border-radius: 0em 0em 1em 1em;
}

.backgroundLayer p {
    line-height: 0em;
    text-align: center;
    position: relative;
    top: -7px;
}

.foregroundLayer {
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 5em;
    display: block;
    position: absolute;
    top: 1em;
    left: calc(50% - 2.5em);
    display: flex;
    flex-direction: column;
    border-radius: 4em;
    overflow: hidden;
}

.foregroundLayer span {
    text-align: center;
    font-size: 0.8em;
}