<div class="doprrBody">
    <div @appearsToUpLeftSide id="{{container}}" class="contentInside " *ngFor="let container of containers">
    </div>
    <div @bodyContens id="doprrBodyContent" class="contentInside">
        <app-doprr-over-container>
            la moitie d'une image
            <ng-container overlay>Experience</ng-container>
        </app-doprr-over-container>
        <app-doprr-over-container>
            la moitie d'une image
            <ng-container overlay>Techologies</ng-container>
        </app-doprr-over-container>
        <app-doprr-over-container>
            la moitie d'une image
            <ng-container overlay>Etudes</ng-container>
        </app-doprr-over-container>
        <app-doprr-over-container>
            la moitie d'une image
            <ng-container overlay>Hobbies</ng-container>
        </app-doprr-over-container>
    </div>

</div>