<div class="doprrBody">
  <div @bodyContens id="doprrBodyContent" class="contentInside">
    <app-doprr-over-container class="experience">
      <ng-container overlay>
        <div class="experienceOverlay">Experience</div>
      </ng-container>
    </app-doprr-over-container>
    <app-doprr-over-container class="tech">
      <ng-container overlay>
        <div class="techOverlay">Techologies</div>
      </ng-container>
    </app-doprr-over-container>
    <app-doprr-over-container class="etude">
      <ng-container overlay>
        <div class="etudeOverlay .noselect">Etudes</div>
      </ng-container>
    </app-doprr-over-container>
    <app-doprr-over-container class="hobbies">
      <ng-container overlay>
        <div class="hobbiesOverlay">Hobbies</div>
      </ng-container>
    </app-doprr-over-container>
  </div>
</div>
